<title>{{headtags.title|default:'WebP Background Remover Tool for Free'}}</title>
<meta name="description" content="{{headtags.description|default:'WebP Background Remover Tool for Free'}}">
<meta name="robots" content="index, follow">
<!-- OG Tags -->
<meta property="og:title" content="{{headtags.og_title|default:'WebP Background Remover Tool for Free'}}">
<meta property="og:description" content="{{headtags.og_description|default:'WebP Background Remover Tool for Free'}}">
<meta property="og:image" content="{{headtags.og_image_url}}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{headtags.og_site_name|default:'WebP Background Remover Tool for Free'}}">
{{headtags.headtags|safe}}